@media screen   {
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }
    .float-left     {
                        float:left
                    }
    .float-right    {
                        float:right
                    }
    .align-left     {
                        text-align:left
                    }
    .align-center   {
                        text-align:center
                    }
    .align-right    {
                        text-align:right
                    }
    .align-justify  {
                        text-align:justify
                    }
    .bold           {
                        font-weight:bold
                    }
    .inline-block   {
                        display:inline-block
                    }
    .inline         {
                        display:inline
                    }
    .hidden         {
                        display:none
                    }
    .invisible      {
                        visibility: hidden
                    }
    .visible        {
                        visibility: visible
                    }
}
