<div class="banner">
    <div class="social-icons-container float-right">
        <div class="social-icon inline-block" data-tooltip="My Github Profile">
            <a href="https://github.com/uplift">
                <img src="/images/github.png" width="24" height="24" alt="" />
            </a>
        </div>
        <div class="social-icon inline-block" data-tooltip="My Twitter Stream">
            <a href="http://twitter.com/uplift5">
                <img src="/images/twitter.png" width="24" height="24" alt="" />
            </a>
        </div>
    </div>
</div>
